@model login.Models.ModelPasseDataToMail
<div>
    Bonjour M le Manager,
</div>
<div>Vous recevez ce mail, parce que je viens de m’inscrire à une plateforme qui, je le pense, nous aidera énormément à avoir une meilleure visibilité sur la gestion de la login et donc des dépenses.</div>
<div>Vous pouvez avoir sur une seule page une visibilité de toutes les logins que vous souhaitez, exemple la login de la secrétaire, du coursier, du commercial …. Et même les logins personnels, et donc vous pouvez en créer autant que vous voulez.</div>
<div>Vous pouvez démarrer en vous connectant sur: <a href="http://login.smart4apps.com/">http://login.smart4apps.com/ </a> </div>
<div>Vous devrez utiliser ce login: @(Model.login)</div>
<div>Et ce mot de passe : @(Model.password)(Que vous pouvez changer à tout moment)</div>
<div>En plus des tableaux de bord qui indiquent comment sont reparties les dépenses, vous pouvez aussi voir les scans des documents justificatifs attachés à la ligne de la dépense.</div>
<div>Si vous avez des questions ou des besoins particuliers, vous pouvez contacter l’administrateur de l’application par mail à : contact@smartlogin.com.</div>

<div>À bientôt,</div>
<div>[Nom du Collaborateur],</div>
<br />
<div>Powerd by smartlogin</div>
<div>Solution simple de la gestion de la login pour une transparence totale et en temps réel.</div>