<div>Cher Monsieur (Madame),</div>
<div>Nous vous remercions de vous êtes inscrit(e) à notre solution login.</div>
<div>Comme vous avez pu le remarquer l’interface de l’application est très conviviale. Vous pouvez donc commencer à l’utiliser dès maintenant.</div>
@if (Model.isLoginView)
{
    <text>
        <div>Vous pouvez démarrer en vous connectant sur: <a href="http://login.smart4apps.com/">http://login.smart4apps.com/ </a> </div>
        <div>Nous vous rappelons votre </div>
        <div>Login: @(Model.login)</div>
        <div>Mot de Passe : @(Model.password)(Que vous pouvez changer à tout moment)</div>
    </text>
}
<div>Vos collègues ont été informés aussi par email de l’ouverture de leur compte. Nous espérons qu’elle vous aidera à faciliter la gestion de votre login.</div>
<div>L’administrateur de l’application reste à votre disposition pour toutes les questions ou les suggestions que vous pouvez avoir sur l’adresse : contact@universrh.com.</div>
<div>Cordialement,</div>
<div>Powerd by smartlogin</div>
<div>Solution simple de la gestion de la login pour une transparence totale et en temps réel.</div>