@model login.Models.ModelPasseDataToMail
<div>Bonjour M le collaborateur,</div>
<div>Je t’ai inscrit à la plateforme qui va nous servir dorénavant dans notre suivi de tout ce qui concerne la login et ceci pour une meilleure visibilité des différentes dépenses.</div>
<div>Tu te connecteras sur ce lien : <a href="http://login.smart4apps.com/">http://login.smart4apps.com/ </a> </div>
<div>Et tu utiliseras ce login : @(Model.login)</div>
<div>Mot de passe : @(Model.password) (Que vous pouvez changer à tout moment)</div>
<div>Elle est très simple à utiliser, tu auras à photographier les pièces justificatives, les factures et autres bons disponibles pour chaque dépense afin d’assurer un meilleur suivi.</div>
<div>Si tu as des questions, tu peux leur envoyer un email à : login@universrh.com, ils répondront tard, mais ils répondent.</div>

<div>À bientôt,</div>
<div>[Nom du Manager],</div>
<div>[Poste /entreprise]</div>
<div>Powerd by smartlogin</div>
<div>Solution simple de la gestion de la login pour une transparence totale et en temps réel.</div>